.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -10px;
}

.expense-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .expense-list {
    justify-content: center;
  }
}

.expense-card {
  width: calc(50% - 10px);
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .cards-container {
    justify-content: center;
  }

  .expense-card {
    width: 80%;
    margin-right: 0;
    margin-left: 0;
  }
}

.expense-card__amount {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.expense-card__category {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.expense-card__date {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.expense-card__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-card:not(:nth-child(2n)) {
  margin-right: 10px;
}
